# Appsettings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=puniemu

WWPS_PORT=8080

DASHBOARD_TOKEN=

ADMIN_TOKEN=

# Docker config
SERVER_HOST=wob.localhost

# Dev tools configs
RESSOURCE_PATH=WWR_BACKUP