__pycache__/
*.pyc
.venv/
.env

WWR_BACKUP

Resources/*
!Resources/README.txt

dataDownload/*
!dataDownload/README.txt

.DS_Store
.secrets_local

wwps_db_backup*.sql

# Https traefik certificates
*.pem
dynamic.yml